
.income-form-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}


.expense-form {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.form-group-inline {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  flex: 1;
}

.form-group-inline label {
  font-size: 0.85rem;
  margin-bottom: 5px;
  color: #666;
}

.form-group-inline input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}


.add-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: bold;
  height: 42px;
  cursor: pointer;
}
.add-btn:hover { background-color: #218838; }

.save-btn {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: bold;
  height: 42px;
  cursor: pointer;
}

.cancel-btn {
  background: transparent;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}


.table-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.custom-table { width: 100%; border-collapse: collapse; }
.custom-table th, .custom-table td { padding: 12px 15px; border-bottom: 1px solid #eee; text-align: left; }
.custom-table th { color: #888; font-weight: 600; text-transform: uppercase; font-size: 0.9rem; }


.action-btn { background: none; border: none; cursor: pointer; font-size: 1.1rem; margin: 0 5px; }
.action-btn:hover { transform: scale(1.2); }

.income-form-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin-bottom: 30px;
  transition: border 0.3s ease;
}

.income-form-card.editing-mode {
  border: 2px solid #ffc107;
}

.amount-cell-income {
  text-align: right;
  font-weight: bold;
  color: #28a745;
}

.sidebar button{
  width: 100%;
  text-align: center;
}